body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    
}
img {
    position: fixed;
    margin-top: 0; 
    margin-bottom: 70px;
    height: 50px;
    width: 50px;
}
.reg{
    margin-left: 70px;
    z-index: -99999;
}
.farther{
    margin-left: 110px;
    z-index: 99999;
}